* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #606c71;
}

a {
    color: #1e6bb8;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.btn {
    display: inline-block;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.08);
    border-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-width: 1px;
    line-height: 1.4;
    padding: 0.17rem 0.6rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}

.btn + .btn {
    margin-left: .3rem;
}

.btn:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.3);
}

.page-header {
    color: #fff;
    background-color: #159957;
    font-size: 14px;
    height: 2.8rem;
    line-height: 2.4;
}

.project-name {
    display: inline-block;
    font-size: 1.15rem;
    padding: 0 1rem;
}
.project-name a {
    color: white;
}
.project-name a:hover {
    color: white;
}
.project-name a:active {
    color: white;
}

.project-tagline {
    display: inline-block;
    font-size: 1rem;
    font-weight: normal;
    opacity: 0.7;
}

@media screen and (max-width: 42em) {
    .project-tagline {
        display: none;
    }
}

.project-buttons {
    display: inline-block;
    right: 1rem;
    position: absolute;
    top: .3rem;
}

.main :first-child {
    margin-top: 0;
}

.main img {
    max-width: 100%;
}

.main h1 {
    font-size: 1.7em;
}
.main h2 {
    font-size: 1.43em;
}
.main h3 {
    font-size: 1.31em;
}
.main h4 {
    font-size: 1.21em;
}
.main h5 {
    font-size: 1.1em;
}
.main h6 {
    font-size: 1em;
}

.main.index h1 {
    font-size: 1.17em;
}

.main h1,
.main h2,
.main h3,
.main h4,
.main h5,
.main h6 {
    margin-top: 1.4rem;
    margin-bottom: .8rem;
    font-weight: normal;
    color: #159957;
}

.main h1 > a,
.main h2 > a,
.main h3 > a,
.main h4 > a,
.main h5 > a,
.main h6 > a {
    display: none;
    color: #159957;
    margin-left: .3rem;
}

.main h1:hover > a,
.main h2:hover > a,
.main h3:hover > a,
.main h4:hover > a,
.main h5:hover > a,
.main h6:hover > a {
    display: inline;
}

.main p {
    margin-bottom: .8em;
}

.main code {
    padding: 2px 4px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: .9rem;
    color: #383e41;
    background-color: #f3f6fa;
    border-radius: 0.3rem;
}

.main a code {
    color: #1e6bb8;
}

.main pre {
    padding: 0.8rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
    color: #567482;
    word-wrap: normal;
    background-color: #f3f6fa;
    border: solid 1px #dce6f0;
    border-radius: 0.3rem;
}

.main pre > code {
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    color: #567482;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0;
}

.main .highlight {
    margin-bottom: 1rem;
}

.main .highlight pre {
    margin-bottom: 0;
    word-break: normal;
}

.main .highlight pre, .main pre {
    padding: 0.8rem;
    overflow: auto;
    font-size: 0.9rem;
    line-height: 1.45;
    border-radius: 0.3rem;
}

.main pre code, .main pre tt {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;
}

.main pre code:before, .main pre code:after, .main pre tt:before, .main pre tt:after {
    content: normal;
}

.main ul, .main ol {
    margin-top: 0;
}

.main blockquote {
    padding: 0 1rem;
    margin-left: 0;
    color: #819198;
    border-left: 0.3rem solid #dce6f0;
}

.main blockquote > :first-child {
    margin-top: 0;
}

.main blockquote > :last-child {
    margin-bottom: 0;
}

.main table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;
}

.main table th {
    font-weight: bold;
}

.main table th, .main table td {
    padding: 0.5rem 1rem;
    border: 1px solid #e9ebec;
}

.main dl {
    padding: 0;
}

.main dl dt {
    padding: 0;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold;
}

.main dl dd {
    padding: 0;
    margin-bottom: 1rem;
}

.main hr {
    height: 2px;
    padding: 0;
    margin: 1rem 0;
    background-color: #eff0f1;
    border: 0;
}

#toc {
    display: inline-block;
    width: 14rem;
    position: absolute;
    overflow: auto;
    height: 100%;
}

#toc ul,
.docs-toc ul {
    list-style-type: none;
    padding-left: 1.6rem;
}

#toc ul,
#toc li,
.docs-toc ul,
.docs-toc li {
    line-height: 1.6;
    font-size: 0.9rem;
}

#toc > ul,
.docs-toc > ul {
    padding-left: 0;
}

#toc sup {
    font-size: 65%;
}

#toc-page {
    display: none;
}

#docs {
    display: inline-block;
    margin-left: 14rem;
    width: calc(100% - 14rem);
}
#docs ul > li {
    list-style-type: disc;
}

.main--m {
    position: relative;
}

@media screen and (min-width: 74em) {
    .main--m {
        max-width: 74rem;
        padding: 2rem 6rem;
        margin: 0 auto;
        font-size: 1.1rem;
    }

    .main {
        min-height: calc(100% - 5.8rem);
    }
    .main.docs {
        max-width: 104rem;
    }

    #toc {
        height: calc(100% - 4rem);
    }
}

@media screen and (max-width: 74em) {
    .main--m {
        padding: 0;
    }
}

@media screen and (min-width: 42em) and (max-width: 74em) {
    .main--m {
        margin: 1rem 1.5rem;
        font-size: 1.1rem;
    }

    .main {
        min-height: calc(100% - 7.8rem);
    }

    #toc {
        width: 12rem;
    }

    #toc ul,
    #toc li {
        line-height: 1.5;
        font-size: .8rem;
    }

    #docs {
        display: inline-block;
        margin-left: 12rem;
        width: calc(100% - 12rem);
    }
}

@media screen and (max-width: 42em) {
    .main--m {
        margin: 1rem 1rem 0;
        font-size: 1rem;
    }

    .main {
        min-height: calc(100% - 6.8rem);
    }

    #toc {
        display: none;
    }
    #toc-page {
        display: block;
        margin-bottom: .5rem;
        text-align: center;
    }
    #docs {
        margin-left: 0;
        width: 100%;
    }
}

.page-footer {
    height: 3rem;
    padding: 1rem 2.5rem;
    margin: 0 auto;
    border-top: solid 1px #eff0f1;
}

.owner {
    display: block;
    font-weight: bold;
    font-size: .75rem;
}

.page-footer-credits {
    color: #819198;
}
