<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <title>ifnode - simple, flexible, super-light and pluginnable library</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/assets/css/open-sans.css" media="screen">
        <link rel="stylesheet" type="text/css" href="/assets/css/prism-default.css" media="screen">
        <link rel="stylesheet" type="text/css" href="/assets/css/normalize.css" media="screen">
        <link rel="stylesheet" type="text/css" href="/assets/css/main.css" media="screen">
    </head>
    <body>
        <header class="page-header">
            <div class="project-name">
                <a href="/">ifnode</a>
            </div>
            <div class="project-tagline">Simple, flexible, super-light and pluginnable library</div>
            <div class="project-buttons">
                <a href="https://github.com/ilfroloff/ifnode" class="btn">View on GitHub</a>
                <a href="https://github.com/ilfroloff/ifnode/zipball/master" class="btn">Download .zip</a>
                <a href="https://github.com/ilfroloff/ifnode/tarball/master" class="btn">Download .tar.gz</a>
            </div>
        </header>
        <main class="centered-content main-content __MAIN_CONTENT_CLASS__">
            __MAIN_CONTENT__
        </main>
        <footer class="centered-content site-footer">
            <span class="site-footer-owner">
                <a href="https://github.com/ilfroloff/ifnode">ifnode</a> is maintained by <a href="https://github.com/ilfroloff">ilfroloff</a> ©
            </span>
        </footer>
    </body>
</html>
