<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <title>ifnode - Excellent Node.js Framework</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content='The ifnode is a simple, flexible, super-light and pluginnable node.js framework. Allows to start developing of application right after of module install.'>
        <link rel="stylesheet" type="text/css" href="/assets/css/open-sans.css?v=__SITE_VERSION__" media="screen">
        <link rel="stylesheet" type="text/css" href="/assets/css/prism-default.css?v=__SITE_VERSION__" media="screen">
        <link rel="stylesheet" type="text/css" href="/assets/css/normalize.css?v=__SITE_VERSION__" media="screen">
        <link rel="stylesheet" type="text/css" href="/assets/css/main.css?v=__SITE_VERSION__" media="screen">
    </head>
    <body>
        <header class="page-header">
            <div class="project-name">
                <a href="/">ifnode</a>
            </div>
            <div class="project-tagline">Simple, flexible, super-light and pluginnable framework</div>
            <div class="project-buttons">
                <a href="https://github.com/ifnode/ifnode" class="btn">View on GitHub</a>
            </div>
        </header>
        <main class="main main--m __MAIN_CONTENT_CLASS__">
            __MAIN_CONTENT__
        </main>
        <footer class="page-footer">
            <span class="owner">
                <a href="https://github.com/ifnode/ifnode">ifnode</a> is maintained by <a href="https://github.com/ilfroloff">Ilya Frolov</a> ©
            </span>
        </footer>
    </body>
</html>
